.advantages {
  padding: 93px 0 107px;

  // .advantages__wrapper
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  // .advantages__title
  &__title {
    max-width: 500px;
    margin-bottom: 15px;
    text-align: center;
  }

  // .advantages__label
  &__label {
    order: -1;
    padding-left: 45px;
    margin-bottom: 32px;

    &::before {
      content: url("../../images/advantages/eye-icon.svg");
      position: absolute;
      top: 50%;
      left: 16px;
      width: 16px;
      height: 16px;
      transform: translateY(-50%);
    }
  }

  // .advantages__description
  &__description {
    max-width: 500px;
    margin-bottom: 48px;
    text-align: center;
  }

  // .advantages__icon
  &__icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 24px;
  }

  // .advantages__item-title
  &__item-title {
    margin-bottom: 16px;
    font-size: 21px;
    line-height: 27px;
  }
}

@media only screen and (max-width: 1199px) {
  .advantages {
    padding: 85px 0 90px;

    &__label {
      padding-left: 45px;
    }
  }
}

@media only screen and (max-width: 991px) {
  .advantages {
    padding: 65px 0;

    &__label {
      padding-left: 45px;
      margin-bottom: 25px;

      &::before {
        left: 14px;
      }
    }

    &__description {
      margin-bottom: 40px;
    }

    &__item-title {
      margin-bottom: 15px;
      font-size: 19px;
      line-height: 25px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .advantages {
    padding: 50px 0;

    &__description {
      margin-bottom: 30px;
    }

    &__item-title {
      font-size: 17px;
      line-height: 21px;
    }
  }
}

@media only screen and (max-width: 575px) {
  .advantages {
    &__label {
      padding-left: 40px;
      margin-bottom: 20px;

      &::before {
        left: 10px;
      }
    }

    &__description {
      margin-bottom: 20px;
    }

    &__list {
      display: block;
      width: 80%;
      margin: 0 auto;
      text-align: center;
    }

    &__item:not(:last-child) {
      margin-bottom: 20px;
    }

    &__item-title {
      margin-bottom: 12px;
      font-size: 17px;
      line-height: 21px;
    }

    &__icon {
      margin: 0 auto;
      margin-bottom: 15px;
    }
  }
}
