.label {
  position: relative;
  padding: 10px 20px;
  border-radius: 25px;
  color: $accent;
  background-color: $accent-light;
  // .label__link
  &__link {
    color: inherit;
    transition: all 0.3s ease;

    &:hover,
    &:focus {
      color: #ffa39e;
    }
  }
}

@media only screen and (max-width: 1199px) {
  .label {
    padding: 8px 16px;
  }
}
@media only screen and (max-width: 991px) {
  .label {
    padding: 6px 14px;
  }
}
@media only screen and (max-width: 575px) {
  .label {
    padding: 5px 12px;
  }
}
