.logo {
  display: block;
  width: 48px;
  height: 48px;
}

@media only screen and (max-width: 991px) {
  .logo {
    width: 42px;
    height: 42px;
  }
}

@media only screen and (max-width: 767px) {
  .logo {
    width: 36px;
    height: 36px;
  }
}
