// colors
$accent: #722ed1;
$accent-light: #f9f0ff;
$font-main: #8989a2;
$font-title: #160637;

// font
$font: "Metropolis", "Lato", sans-serif;

//grid
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1160px,
);

$grid-gutter-width: 16px;
